.elem {
  margin: 0 15px;
}

.elem-wrapper {
  max-width: 1200px;
  width: 100%;
  background-color: white;
  margin: 0 auto;
}

.elem__img img {
  width: 500px;
  box-shadow: 8px 4px 4px;
}

.elem-displ {
  display: flex;
  gap: 30px;
  padding: 15px 40px;
}

.elem-right {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.elem-right__name {
  font-family: "Montserrat_Bold";
  font-size: 38px;
}

.elem-right__desc {
  font-family: "Montserrat_Regular";
  font-size: 16px;
}

.elem-right__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.elem-right__links div {
  background-color: black;
  padding: 10px 10px 5px 10px;
  margin: 0 15px;
  transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
}

.elem-right__links div a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Marvel";
  font-size: 30px;
}

.elem-right__links div:hover {
  background-color: red;
}

.ev {
  font-size: 25px;
  font-family: "OpenSans_Regular";
}

.event__div {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-decoration: none;
  transition: transform 250ms;
}

.swiper__name {
  color: black;
}

.event__div:hover {
  transform: translateY(-10px);
}

.event {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.img_ev {
  width: 200px;
}

.events {
  display: grid;
  grid-template-areas: "event event event";
  grid-column-gap: 10px;
  width: 900px;
  margin: 0 auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 950px) {
  .elem-displ {
    flex-direction: column;
    gap: 0;
    padding: 10px 15px;
  }

  .elem__img {
    margin: 0 auto;
  }

  .elem__img img {
    max-width: 400px;
    width: 100%;
    box-shadow: 6px 3px 3px;
  }

  .elem-right__name {
    font-size: 28px;
  }

  .elem-right__links div {
    margin: 0 5px;
  }
}